.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    /* Bỏ chấm đầu dòng mỗi  câu */
    list-style: none; 
    padding-left: 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

/* Khi đưa con trỏ chuột tới thì show ra css header__qr của qr */
.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    /* Bỏ gạch chân của chử trong thẻ a */
    text-decoration: none;
    /* Độ dày của font chữ */
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

/* Các thay đổi khi đưa chuột tới những thẻ có class sau  */
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    /* Tự đổi con trỏ chuột thành hình bàn tay khi rê chuột tới */
    cursor: pointer;
    /* Tự đổi màu khi rê chuột tới */
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item-strong {
    /* tô đậm chữ */
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 15px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    /* Chuyển màu icon thành màu trắng */
    color: var(--white-color);
    /* Bỏ gạch chân icon */
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 110%;
    border-radius: 2px;
    display: none;
    /* qr hiện dần trong 1s */
    animation: fadeIn ease-in 1s;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header_qr-download-img {
    height: 18px;
}

/* Authen modal */
.auth-form {
    width: 500px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primay-color);
    /* nếu nút yêu cầu đưa chuột tới thì đổi con trỏ thành hình bàn tay nhưng không cần đổi màu thì làm như dưới chứ không nhất thiết phải dùng hover */
    cursor: pointer;   
}

.auth-form__form {
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primay-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
}